.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.card-body {
  margin-top: -60px;
  padding: 0;
  color: white;
}
.flip {
  -webkit-perspective: 800px;
  width: 400px;
  height: 200px;
  position: relative;
  margin-bottom: 10px;
}
.flip .card.flipped {
  -webkit-transform: rotatex(-180deg);
}
.flip .card {
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: 0.5s;
}

.flip .card .face {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-backface-visibility: hidden;
  z-index: 2;
}
.flip .card .front {
  position: absolute;
  z-index: 1;
  background: white;
  color: black;
  cursor: pointer;
}
.flip .card .back {
  -webkit-transform: rotatex(-180deg);
  background: blue;
  background: black;
  color: white;
  cursor: pointer;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
